@model IEnumerable<ServiceViewModel>
@{

}


<section class="articles sec-news sec-pad">
    <div class="container">
        <h2 class="main-title">أخبار الألعاب</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="newsList-container">
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/football.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة قدم</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/basketball.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة سلة</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/handball.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة يد</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/handball.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة يد</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/soccer-ball.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة سلة</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                    <div class="news-box">
                        <div class="image">
                            <img src="@SettingHelper.GetPublishName()/Front/assets/images/blogs/tennis.png" alt="game1" />
                        </div>
                        <div class="caption-news">
                            <p class="gameName"><i class="fal fa-newspaper"></i> <span>كرة تنس</span></p>
                            <a class="newsLink" href="#">حسام حسن يقود سموحة لعبور الطلائع</a>
                            <p class="words">فاز فريق سموحة على ضيفه طلائع الجيش 1-0، اليوم الأربعاء، في المباراة التي أقيمت بينهما على استاد الإسكندرية، ضمن الجولة العاشرة للدوري الممتاز.</p>
                            <a href="#">
                                <span>اقرأ المزيد <i class="fal fa-angle-left"></i></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

