@model Smouhaclub.Models.TblNews

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblNews</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShowable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShowable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
