@model IEnumerable<TblNews>
@{
    ViewData["Title"] = "الاخبار";
}

<h1>Index</h1>

<a asp-action="Create" asp-controller="News" type="button" class="btn btn-danger">إضافة</a>

@if (Model.Count() > 0)
{

    <table class="table details-table dataTables_wrapper table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align:center;">اسم الخبر</th>
                <th style="text-align:center;">تفاصيل الخبر</th>
                <th style="text-align:center;">تاريخ الخبر </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NewsTitle</td>
                    <td>@item.NewsContent</td>
                    <td>@PublicFunction.ConvertDate(item.NewsDate.ToString()).ToString("yyyy-MM-dd")</td>
                    <td>
                    <a asp-area="CPanel" asp-controller="News" asp-action="Details" asp-route-id="@item.NewsId">عرض</a>
                    <a asp-area="CPanel" asp-controller="News" asp-action="Edit" asp-route-id="@item.NewsId">تعديل</a>
                    <a asp-area="CPanel" asp-controller="News" asp-action="Delete" asp-route-id="@item.NewsId">حذف</a>
                    </td>
                </tr>
            }
        </tbody>


    </table>



}

