@model Smouhaclub.Models.TblMember

@{
    ViewData["Title"] = "Edit";
    List<TblMemberShip> relatedMembes = ViewBag.allRelated;
    var rowCount = relatedMembes.Count() == 0 ? 1 : relatedMembes.Count() + 1;
}


<section class="content">

    <div class="main-breadcrumb">
        <div class="header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a asp-area="CPanel" asp-controller="Home" asp-action="Index"><i class="far fa-home"></i></a></li>
                    <li asp-action="Index" class="breadcrumb-item" aria-current="page">الاعضاء</li>
                    <li class="breadcrumb-item active" aria-current="تعديل">تعديل</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="row">
        <form asp-action="Edit" id="formMember">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-5">
                    <input type="hidden" asp-for="MemberCode" />
                    <input type="hidden" asp-for="MemberId" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">الاسم الاول <span style="color:red;">*</span></label>
                        <input asp-for="FirstName" class="form-control wizard-required" data-id="errorFirstName" data-letter="من فضلك ادخل الاسم الاول " />
                        <span asp-validation-for="FirstName" id="errorFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">الاسم الثاني <span style="color:red;">*</span></label>
                        <input asp-for="LastName" class="form-control wizard-required" data-id="errorLastName" data-letter="من فضلك ادخل الاسم الثاني  " />
                        <span asp-validation-for="LastName" id="errorLastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">رقم الهاتف <span style="color:red;">*</span></label>
                        <input asp-for="PhoneNumber" class="form-control wizard-required" id="txtPhoneNumber" onkeydown="return AcceptOnlyNumbers(this)" data-letter="من فضلك ادخل رقم الهاتف " />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="MemberEmail" class="control-label">البريد الالكتروني <span style="color:red;">*</span></label>
                        <input asp-for="MemberEmail" id="txtMemberEmail" class="form-control wizard-required" data-id="errorMemberEmail" onchange="emailMembervalidate()" type="email" data-letter="من فضلك ادخل البريد الالكتروني " />
                        <span asp-validation-for="MemberEmail" id="errorMemberEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="MemberAddress" class="control-label"> العنوان </label>
                        <input asp-for="MemberAddress" class="form-control" />
                        <span asp-validation-for="MemberAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="DateBirth" class="control-label">تاريخ الميلاد <span style="color:red;">*</span></label>
                        <input asp-for="DateBirth" max="10" onchange="return CopareBirthDate()" id="txtDateBirth" maxlength="10" class="form-control datepicker" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" />
                        <span asp-validation-for="DateBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="JoinDate" class="control-label">تاريخ الاشتراك <span style="color:red;">*</span></label>
                        <input asp-for="JoinDate" max="10" id="txtJoinDate" onchange="return CopareBirthDate()" maxlength="10" class="form-control wizard-required datepicker" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" data-id="errorJoinDate" data-letter="من فضلك ادخل  تاريخ  الاشتراك" />
                        <span asp-validation-for="JoinDate" id="errorJoinDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="RenewalDate" class="control-label"> تاريخ التجديد <span style="color:red;">*</span></label>
                        <input asp-for="RenewalDate" max="10" maxlength="10" class="form-control datepicker" data-letter="من فضلك ادخل  تاريخ تجديد الاشتراك" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" />
                        <span asp-validation-for="RenewalDate" id="errorRenewalDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="MembershipCost" class="control-label">تكلفة </label>
                        <input asp-for="MembershipCost" onblur="return AcceptOnlyNumbers(this)" class="form-control wizard-required" data-id="errorMembershipCost" data-letter="من فضلك ادخل  قيمة الاشتراك " />
                        <span asp-validation-for="MembershipCost" id="errorMembershipCost" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="con-sp-main">
                <h2 class="main-title">الأعضاء التابعين</h2>
                <div class="box-adding">
                    <button id="addnewFiledImage" class="add_field_buttonGallery btn-sm bs" title="إضافة عضو" tabindex="1"><i class="btn-sm fas fa-plus"></i></button>
                    <table class="table table-bordered table-hover input_fields_wrap fields_Gallery" id="tblMemberShip">
                        <thead>
                            <tr>
                                <th style="width:20%">صلة القرابة <span class="star-required" style="color:red;">*</span></th>
                                <th style="width:20%">رسوم الإشتراك <span class="star-required" style="color:red;">*</span></th>
                                <th style="width:8%"></th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            @{
                                int i = 1;
                                @foreach (var member in relatedMembes)
                                {
                                    <tr id="trRow_@i">
                                        <td>
                                            <select id="ddlMemberType_@i" name="MemberType" class="form-control">
                                                <option value="">الرجاء الإختيار</option>
                                                @if (member.MemberType == "1")
                                                {
                                                    <option value="1" selected>ابن</option>
                                                }
                                                else if (member.MemberType == "2")
                                                {
                                                    <option value="2" selected>ابنة</option>
                                                }
                                                else if (member.MemberType == "3")
                                                {
                                                    <option value="3" selected>زوج/زوجة</option>
                                                }
                                                else
                                                {
                                                    <option value="1" >ابن</option>
                                                    <option value="2" >ابنة</option>
                                                    <option value="3" >زوج/زوجة</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input id="txtSubscriptionFee_@i" value="@member.SubscriptionFee" name="txtSubscFee" onblur="return AllowNumber(this)" class="form-control" />
                                        </td>
                                        <td>
                                            <div class="btns-group">
                                                <a class="remove_fieldGallery btn theme-btn btn-delete" title="حذف"><i class="fal fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                    <button id="addnewFiledImage" class="add_field_buttonGallery  btn-sm  btn bs" title="" tabindex="1"><i class="btn-sm fas fa-plus"></i></button>
                </div>
            </div>

            <div class="form-group custom-buttons">
                <input type="button" id="btnSubmitForm" value="Create" class="theme-btn" />
                <a asp-action="Index" class="theme-btn-two">Back to List</a>
            </div>
        </form>
    </div>
</section>

<input type="hidden" id="membersCount" value="@rowCount" />
<input type="hidden" id="urlAjaxMailValidate" value="@SettingHelper.GetPublishName()/Members/EmailValidate" />

<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/mask.js" asp-append-version="true"></script>
<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/validationscripts/memberscript.js" asp-append-version="true"></script>