@model Smouhaclub.Models.TblService
@{
    ViewData["Title"] = "الألعاب الرياضية";
}
<div class="breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol>
                <li class="breadcrumb-item active" aria-current="page"><a asp-area="CPanel" asp-controller="Home" asp-action="Index"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-area="CPanel" asp-controller="SportsGame" asp-action="Index">الألعاب الرياضية</a></li>
                <li class="breadcrumb-item active" aria-current="page">تعديل</li>
            </ol>
        </nav>
    </div>
</div>
<section class="content">
    <div class="container">
        <form asp-area="CPanel" asp-controller="SportsGame" asp-action="Edit" id="frmSPortsGame" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ServiceId">

            <p><b>(<span style="color:red;">*</span>) </b>تعنى حقل يجب إدخاله</p>
            <div class="con-sp-box ">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="ServiceName" class="control-label"> اسم اللعبة الرياضية <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <input asp-for="ServiceName" class="form-control wizard-required" data-id="requiredServiceName" data-letter="من فضلك ادخل اسم اللعبة الرياضية" placeholder="اسم اللعبة الرياضية">
                                <span asp-validation-for="ServiceName" class="text-danger"></span>
                            </div>
                            <span id="requiredServiceName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label class="control-label">صورة اللعبة <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <label for="PhotoId">
                                    <span style="cursor:pointer" title="صورة اللعبة"><i for="PhotoId" class="fa fa-upload" aria-hidden="true"></i></span>
                                    <input type="file" id="PhotoId" asp-for="ServicePhoto" name="upGamePhoto" style="display:none" accept="image/png, image/jpg, image/jpeg" />
                                    <input type="hidden" value="@Model.ServicePhoto" name="oldPhoto" />
                                </label>

                                @if (!string.IsNullOrWhiteSpace(Model.ServicePhoto))
                                {
                                    var path = PublicFunction.GetPath(SettingHelper.GetPublishName(), "/Uploads/SportsGame/Photo", Model.ServicePhoto);
                                    <a id="imgModal" data-bs-toggle="modal" data-bs-target="#viewImg" href="@path">
                                        <img id="img_url" src="@path" width="60" />
                                    </a>
                                }
                                else{
                                    <a id="imgModal" data-bs-toggle="modal" data-bs-target="#viewImg" href="">
                                        <img id="img_url" src="" width="60" />
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="ServiceDescription" class="control-label">تفاصيل اللعبة الرياضية <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <textarea asp-for="ServiceDescription" data-id="requiredServiceDescription" data-letter="من فضلك ادخل تفاصيل اللعبة الرياضية" class="form-control wizard-required"></textarea>
                            </div>
                            <span id="requiredServiceDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="IsShowable" class="control-label">عرض بالموقع ؟</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @if (Model.IsShowable == true)
                                {
                                    <label class="switch">
                                        <input id="rdShowable" name="rdIsShowable" type="checkbox" value="true" checked="checked" class="checkbox">
                                        <div class="slider"></div>
                                    </label>
                                }
                                else
                                {
                                    <label class="switch">
                                        <input id="rdShowable" name="rdIsShowable" type="checkbox" value="false" class="checkbox">
                                        <div class="slider"></div>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-4">
                    <div class="input-save">
                        <input type="hidden" value="@Model.ServiceId" name="servicId">
                        <input type="button" id="btnSubmit" title="حفظ" value="حفظ" class="theme-btn" />
                        <span></span>
                        <a asp-controller="SportsGame" asp-area="CPanel" asp-action="Index" class="btn theme-btn cancel">الغاء</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<input type="hidden" id="hdnPublishName" value="@SettingHelper.GetPublishName()" />
<script src="@SettingHelper.GetPublishName()/assets/js/validationScripts/SportsGameScript.js" asp-append-version="true"></script>
@await Html.PartialAsync("_ShowImageParial")