@model Smouhaclub.Models.TblMember
@{
    ViewData["Title"] = "تجديد الإشتراك";
    var total = ViewBag.relatedMembers * Model.MembershipCost;
}

<section class="sec-pad Complaints">
    <div class="container">
        <div class="main-title"> تجديد الاشتراكات </div>
        <form asp-controller="Subscribe" asp-action="Renew" id="frmRenew">
            <div class="row">
                <div class="col-md-6">
                    <label class="common-label">العضو المسئول</label>
                    <input type="text" disabled value="@Model.FirstName @Model.LastName" class="form-control" />
                    
                </div>
                <div class="col-md-6">
                    <label class="common-label">عدد الأعضاء</label>
                    <input type="text" disabled value="@ViewBag.relatedMembers" class="form-control" />
                </div>
                <hr />
                <div class="col-md-12">
                    <label class="common-label">عضوية الفرد</label>
                    <label class="common-label">@Model.MembershipCost</label>
                </div>

                <div class="col-md-12">
                    <label class="common-label">قيمة الدفع</label>
                    <label class="common-label">@Model.MembershipCost</label>
                </div>

                <hr />
                <div class="col-md-12">
                    <label class="common-label">إجمالي الدفع</label>
                    <label class="common-label">@total</label>
                </div>

                <div class="col-md-12 mt-3">
                    <a asp-controller="Subscribe" asp-action="Renew">
                        <button type="button" class="theme-btn">استكمال الدفع</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

