<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/font-awesome-all.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/owl.theme.default.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/dataTables/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/main.css" asp-append-version="true" />
</head>
<body>

    <header class="header">
        <nav class="main-navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <img src="@SettingHelper.GetPublishName()/assets/images/Smouha-logo.png" alt="Smouha-logo" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav-list">
                            <li><a asp-action="Index" asp-controller="Home">الصفحة الرئيسية</a></li>
                            <li><a asp-action="Index" asp-controller="News">اخبار النادي</a></li>
                            <li><a href="sports.html">الالعاب</a></li>
                            <li><a href="subscribe.html">الاشتراكات</a></li>
                            <li><a asp-controller="Complaints" asp-action="Index">الشكاوي</a></li>
                            <li><a href="contact.html">تواصل معنا</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn-live"> <i class="fal fa-broadcast-tower"></i>البث المباشر </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <section class="main-footer sec-pad">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="box text-center">
                        <div class="logo-box">
                            <img src="@SettingHelper.GetPublishName()/assets/images/Smouha-logo.png" alt="Smouha-logo" />
                        </div>
                        <h4>سموحة</h4>
                        <p>نادي سموحه الرياضي و الاجتماعي من اقدم الاندية المصرية</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="box">
                        <h6>الرياضة</h6>
                        <ul>
                            <li><a href="#">كرة القدم</a></li>
                            <li><a href="#">كرة اليد</a></li>
                            <li><a href="#">تنس الطاولة</a></li>
                            <li><a href="#">كرة السلة</a></li>
                            <li><a href="#">السباحة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <h6>خدمات النادي</h6>
                        <ul>
                            <li><a href="#">كرة القدم</a></li>
                            <li><a href="#">كرة اليد</a></li>
                            <li><a href="#">تنس الطاولة</a></li>
                            <li><a href="#">كرة السلة</a></li>
                            <li><a href="#">السباحة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <h6>الاشتراكات</h6>
                        <ul>
                            <li><a href="#">كرة القدم</a></li>
                            <li><a href="#">كرة اليد</a></li>
                            <li><a href="#">تنس الطاولة</a></li>
                            <li><a href="#">كرة السلة</a></li>
                            <li><a href="#">السباحة</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyrights">
        <p>جميع الحقوق محفوظه لنادي سموحة &copy;</p>
    </div>
    <script src="@SettingHelper.GetPublishName()/assets/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/select2.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="@SettingHelper.GetPublishName()/assets/js/script.js" asp-append-version="true"></script>
</body>
</html>
