<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smouhaclub</title>
    <link rel="shortcut icon" href="@SettingHelper.GetPublishName()/assets/images/icons/favicon.ico" type="image/x-icon">
    <!-- FontAwesome -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/font-awesome-all.css" />
    <!-- Bootstrap -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/bootstrap.min.css" />
    <!-- jquery Ui-->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/flatpickr.min.css" />
    <!-- DataTable -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/dataTables/css/jquery.dataTables.min.css" />
    <!-- Animate -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/animate.css" />
    <!-- Select2 -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/select2.min.css" />
    <!-- Main Css -->
    <link asp-append-version="true" rel="stylesheet" href="@SettingHelper.GetPublishName()/assets/css/main.css" />

    <!-- jquery -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/jquery-3.7.1.min.js"></script>
</head>
<body dir="rtl">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smouhaclub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="News" asp-action="Index">الأخبار</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="Members" asp-action="Index">الأعضاء</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="Complain" asp-action="Index">الشكاوي</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="SportsGame" asp-action="Index">الألعاب الرياضية</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="cpanel" asp-controller="Users" asp-action="Index">مستخدموا النظام</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        

    <footer class="border-top admin-footer text-muted">
        <div class="container">
            &copy; 2023 - Smouhaclub - <a asp-area="cpanel" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- flatpickr -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/flatpickr.min.js"></script>
    <!-- Datatable js -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/dataTables/js/jquery.dataTables.min.js"></script>
    <!-- bootstrap js -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/bootstrap.bundle.min.js"></script>
    <!-- sweetalert2 -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/sweetalert2.all.min.js"></script>
    <!-- select2 -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/select2.min.js"></script>
    <!-- custom script -->
    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/script.js"></script>

    <script asp-append-version="true" src="@SettingHelper.GetPublishName()/assets/js/validationscripts/publicscript.js"></script>
</body>
</html>
